@model Domain.DTOs.ListaMisionesConMisionElegida
@{
    ViewData["Title"] = "Home Page";
    var listaMisiones = Model.ListaMisiones;
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="Seleccionar">
    
    @if (ViewBag.errorMessage != "")
    {
        <h2>@ViewBag.errorMessage</h2>
    } else
    {
        <label for="misionId">Elige una misión:</label>
        <select id="misionId" name="misionId" class="form-control">
            <option value="">-- Selecciona una misión --</option>
            @foreach (var m in listaMisiones)
            {
                <option value="@m.Id">
                    @m.Nombre
                </option>
            }
        </select>

        <br />
        <button type="submit" class="btn btn-primary">Ver detalles</button>
    }
    
</form>
