@model List<Domain.Entities.Mision>

@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="Seleccionar">
    <label for="misionId">Elige una misión:</label>

    <select id="misionId" name="misionId" class="form-control">
        <option value="">-- Selecciona una misión --</option>
        @foreach (var m in Model)
        {
            <option value="@m.Id">
                @m.Nombre
            </option>
        }
    </select>

    <br />
    <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
